Repository Recipe-Web-App/admin-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, kubernetes, configuration, typescript, html, styles, tests, core, shared, features, layout, authentication, api, build-tools, linting, security, performance

fix(deploy): fixed vitest dependency mismatch
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: dependencies, github, configuration, build-tools

fix(deploy): fixed compatibility issues with new depend upgrades
  .stylelintrc.json
  package-lock.json
  package.json
  postcss.config.js
  src/api/middleware/error.middleware.ts
  src/api/utils/validation.util.ts
  src/styles.css
  tailwind.config.js
Labels: dependencies, configuration, typescript, styles, build-tools, linting

fix: fixed dependency conflict
  package-lock.json
  package.json
Labels: dependencies, configuration, build-tools

chore: upgraded to angular-21
  package-lock.json
  package.json
  src/main.server.ts
Labels: dependencies, configuration, typescript, build-tools

chore: auto updated all pre commit hooks
  .pre-commit-config.yaml
Labels: configuration, security

chore: auto updated all pre commit hooks (#87)
  .pre-commit-config.yaml
Labels: configuration, security

feat(kong): migrated service from ingress nginx to kong gateway
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Labels: kubernetes, configuration, build-tools

refactor(kong): updated service host references to use kong proxy
  src/config/auth.config.ts
Labels: typescript

fix: added config routes to main app router
  src/api/routes/index.ts
Labels: typescript

Kong migration (#91)
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
  src/config/auth.config.ts
Labels: kubernetes, configuration, typescript, build-tools

Config route fix (#92)
  src/api/routes/index.ts
Labels: typescript

chore(bun-migration): resolved conflicts with main branch
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  CLAUDE.md
  Dockerfile
  README.md
  angular.json
  bun-test-runner.ts
  bun.lock
  bunfig.toml
  docker-compose.override.yml
  package-lock.json
  package.json
  playwright.config.ts
  src/api/middleware/cors.middleware.ts
  src/api/middleware/error.middleware.ts
  src/api/routes/config.ts
  src/api/utils/response.util.ts
  src/app/app.spec.ts
  src/config/env.config.ts
  src/config/logging.config.ts
  src/server.ts
  src/test-setup.ts
  tsconfig.app.json
  vitest.config.ts
Labels: dependencies, documentation, github, github-actions, docker, configuration, typescript, tests, build-tools, security

ci(bun-migration): migrated from dependabot to renovate for bun support
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  renovate.json
Labels: github, github-actions, configuration

build(bun-migration): fixed docker build issue
  Dockerfile
Labels: docker

Bun migration (#96)
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  CLAUDE.md
  Dockerfile
  README.md
  angular.json
  bun-test-runner.ts
  bun.lock
  bunfig.toml
  docker-compose.override.yml
  package-lock.json
  package.json
  playwright.config.ts
  renovate.json
  src/api/middleware/cors.middleware.ts
  src/api/middleware/error.middleware.ts
  src/api/routes/config.ts
  src/api/utils/response.util.ts
  src/app/app.spec.ts
  src/config/env.config.ts
  src/config/logging.config.ts
  src/server.ts
  src/test-setup.ts
  tsconfig.app.json
  vitest.config.ts
Labels: dependencies, documentation, github, github-actions, docker, configuration, typescript, tests, build-tools, security

docs(openapi): added open api specification
  .pre-commit-config.yaml
  .redocly.yaml
  bun.lock
  docs/api/openapi.yaml
  package.json
Labels: dependencies, documentation, configuration, build-tools, security

docs(openapi): added open api specification (#97)
  .pre-commit-config.yaml
  .redocly.yaml
  bun.lock
  docs/api/openapi.yaml
  package.json
Labels: dependencies, documentation, configuration, build-tools, security

refactor(get-environment): removed production restriction from get environment response data
  .redocly.yaml
  docs/api/openapi.yaml
  package.json
  src/api/routes/config.ts
Labels: dependencies, documentation, configuration, typescript, build-tools

refactor(get-environment): removed production restriction from get environment response data (#98)
  .redocly.yaml
  docs/api/openapi.yaml
  package.json
  src/api/routes/config.ts
Labels: dependencies, documentation, configuration, typescript, build-tools

docs: updated claude.md
  CLAUDE.md
Labels: documentation

docs: updated all outdated docs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/TECHNICAL_SPEC.md
  .github/pull_request_template.md
  .github/workflows/greet.yml
  CHANGELOG.md
  README.md
  package.json
Labels: dependencies, documentation, github, github-actions, configuration, build-tools, security

Doc update (#99)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/TECHNICAL_SPEC.md
  .github/pull_request_template.md
  .github/workflows/greet.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  package.json
Labels: dependencies, documentation, github, github-actions, configuration, build-tools, security

chore(prek-migration): updated config to support prek
  .pre-commit-config.yaml
Labels: configuration, security

chore(prek-migration): updated config to support prek (#100)
  .pre-commit-config.yaml
Labels: configuration, security

ci(renovate): fixed config validation error for renovate
  .github/renovate.json
Labels: github, configuration

ci(renovate): fixed config validation error for renovate (#101)
  .github/renovate.json
Labels: github, configuration

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
Labels: github, configuration

ci(renovate): added pre-commit to renovate config (#102)
  .github/renovate.json
Labels: github, configuration

chore(ops-cli): removed gateway config from project
  k8s/gateway-route.yaml
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Labels: kubernetes, configuration, build-tools

chore: removed leftover ingress references in repo
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
Labels: kubernetes, configuration, build-tools

Remove kong config (#103)
  k8s/gateway-route.yaml
  k8s/networkpolicy.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/update-container.sh
Labels: kubernetes, configuration, build-tools

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Labels: configuration

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/issues.jsonl
  .gitattributes
  .gitignore
  AGENTS.md
Labels: documentation

chore(beads): performed beads onboarding
  .markdownlintignore
  AGENTS.md
Labels: documentation

Beads integration (#104)
  .beads/.gitignore
  .beads/issues.jsonl
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation

chore(beads): added beads prime config
  .beads/README.md
  .beads/config.yaml
  .beads/metadata.json
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore(beads): added beads prime config (#105)
  .beads/README.md
  .beads/config.yaml
  .beads/metadata.json
  .gitignore
  .markdownlintignore
  AGENTS.md
Labels: documentation, configuration

chore: updated claude config
  CLAUDE.md
Labels: documentation

chore: updated claude config (#106)
  CLAUDE.md
Labels: documentation

build(nvmrc): added nvmrc file to resolve build issues
  .nvmrc
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - package.json
  - package-lock.json

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Kubernetes
kubernetes:
  - k8s/**/*

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example
  - angular.json
  - tsconfig*.json

# TypeScript/JavaScript source code
typescript:
  - '**/*.ts'
  - '**/*.js'

# HTML templates
html:
  - '**/*.html'

# Styles
styles:
  - '**/*.css'
  - '**/*.scss'
  - tailwind.config.js
  - .stylelintrc.json

# Tests
tests:
  - '**/*.spec.ts'
  - e2e/**/*
  - vitest.config.ts
  - playwright.config.ts

# Core modules
core:
  - src/app/core/**/*

# Shared modules
shared:
  - src/app/shared/**/*

# Features
features:
  - src/app/features/**/*

# Layout
layout:
  - src/app/layout/**/*

# Authentication
authentication:
  - src/app/core/auth/**/*
  - src/app/features/auth/**/*

# API Integration
api:
  - src/app/core/services/**/*
  - src/app/core/models/**/*

# Build and tooling
build-tools:
  - scripts/**/*
  - '**/*.sh'
  - package.json
  - angular.json

# Linting configuration
linting:
  - eslint.config.js
  - .prettierrc
  - .stylelintrc.json
  - .editorconfig

# Security
security:
  - .github/SECURITY.md
  - .secrets.baseline
  - .pre-commit-config.yaml

# Performance
performance:
  - '**/*lazy*'
  - '**/*performance*'
  - '**/*optimization*'
