Repository Recipe-Web-App/admin-ui-service, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, github, github-actions, docker, kubernetes, configuration, typescript, html, styles, tests, core, shared, features, layout, authentication, api, build-tools, linting, security, performance

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Dependencies
dependencies:
  - package.json
  - package-lock.json

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*

# GitHub configuration
github:
  - .github/**/*

# Workflows
github-actions:
  - .github/workflows/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml
  - .dockerignore

# Kubernetes
kubernetes:
  - k8s/**/*

# Configuration
configuration:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - .env.example
  - angular.json
  - tsconfig*.json

# TypeScript/JavaScript source code
typescript:
  - '**/*.ts'
  - '**/*.js'

# HTML templates
html:
  - '**/*.html'

# Styles
styles:
  - '**/*.css'
  - '**/*.scss'
  - tailwind.config.js
  - .stylelintrc.json

# Tests
tests:
  - '**/*.spec.ts'
  - e2e/**/*
  - vitest.config.ts
  - playwright.config.ts

# Core modules
core:
  - src/app/core/**/*

# Shared modules
shared:
  - src/app/shared/**/*

# Features
features:
  - src/app/features/**/*

# Layout
layout:
  - src/app/layout/**/*

# Authentication
authentication:
  - src/app/core/auth/**/*
  - src/app/features/auth/**/*

# API Integration
api:
  - src/app/core/services/**/*
  - src/app/core/models/**/*

# Build and tooling
build-tools:
  - scripts/**/*
  - '**/*.sh'
  - package.json
  - angular.json

# Linting configuration
linting:
  - eslint.config.js
  - .prettierrc
  - .stylelintrc.json
  - .editorconfig

# Security
security:
  - .github/SECURITY.md
  - .secrets.baseline
  - .pre-commit-config.yaml

# Performance
performance:
  - '**/*lazy*'
  - '**/*performance*'
  - '**/*optimization*'

build(nvmrc): added nvmrc file to resolve build issues (#139)
  .nvmrc
Labels: none

chore: prettier changes
  .github/renovate.json
Labels: github, configuration

chore: beads dolt migration
  .beads/.gitignore
Labels: none

chore: sync beads
  .beads/metadata.json
Labels: configuration

fix: fixed beads/dolt config
  .beads/metadata.json
  AGENTS.md
Labels: documentation, configuration

Chores (#173)
  .beads/.gitignore
  .beads/metadata.json
  .github/renovate.json
  AGENTS.md
Labels: documentation, github, configuration

chore: cleaned up legacy beads artifacts
  .beads/metadata.json
Labels: configuration

chore: cleaned up legacy beads artifacts (#174)
  .beads/metadata.json
Labels: configuration

Revert "chore: cleaned up legacy beads artifacts (#174)"
  .beads/metadata.json
Labels: configuration

Revert "chore: cleaned up legacy beads artifacts (#174)" (#175)
  .beads/metadata.json
Labels: configuration

chore: removed extra info from agents.md
  AGENTS.md
Labels: documentation

chore: removed extra info from agents.md (#176)
  AGENTS.md
Labels: documentation
